extends layout

block styles
	link(rel="stylesheet" href='stylesheets/bootstrap.min.css')
	link(rel="stylesheet" type="text/css" href="stylesheets/style.css")

block scripts
	scripts(type='text/javascript' src='javascripts/scripts.js')

block content

	include slider

	-if (sessionInfo !== true)
		include logreg

	.toggle-button

	#site

		.container.section.active
			.row.text-center
				.header.col-sm-12.text-center
					h1 Search Results	
				.col-sm-12
					- for(let i = 0; i < 6; i++)
						div
							img(src= wineArray.wines[i].image)
							div #{wineArray.wines[i].name}
							div
								strong Vintage: 
								span #{wineArray.wines[i].vintage}
							div
								strong Variety: 
								span #{wineArray.wines[i].varietal}
							div
								strong Price: $
								span #{wineArray.wines[i].price}
							div
								strong Rank: 
								span #{wineArray.wines[i].snoothrank} /5
							div
								strong Recipe Pairing ID: 
								span #{wineArray.wines[i].winery_id}
							br
					