extends layout

block styles
	link(rel="stylesheet" href='/stylesheets/bootstrap.min.css')
	link(rel="stylesheet" type="text/css" href="/stylesheets/beverages.css")

block scripts
	script(type='text/javascript' src='/javascripts/scripts.js')

block content

	include slider

	-if (sessionInfo !== true)
		include logreg

	.toggle-button

	#site.container
		#pageOne.section.active
			.header.col-sm-12.text-center
				h1.wine-cellar Wine Recommendations
			- for( let i = 0; i < 4; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div.recipe-link
						//- span Recipe Pairing ID: 
						//- span #{wineArray.wines[i].winery_id}
						a(href="/wine-recipes/"+wineArray.wines[i].winery_id)
							span Find Recipe Pairs
							//- <img src= snoothBaseUrl2 + wineKey + ip + '&id='+ pairingId + '&food=1' > 
						

		#pageTwo.section
			- for( let i = 4; i < 8; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div.recipe-link
						//- span Recipe Pairing ID: 
						//- span #{wineArray.wines[i].winery_id}
						<a href="/wine-recipes/">
							span Find Recipe Pairs
							//- <img src= snoothBaseUrl2 + wineKey + ip + '&id='+ pairingId + '&food=1' > 
						</a>
		#pageThree.section
			- for( let i = 8; i < 12; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div.recipe-link
						//- span Recipe Pairing ID: 
						//- span #{wineArray.wines[i].winery_id}
						<a href="/wine-recipes/">
							span Find Recipe Pairs
							//- <img src= snoothBaseUrl2 + wineKey + ip + '&id='+ pairingId + '&food=1' > 
						</a>
		#pageFour.section
			- for( let i = 12; i < 16; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div.recipe-link
						//- span Recipe Pairing ID: 
						//- span #{wineArray.wines[i].winery_id}
						<a href="/wine-recipes/">
							span Find Recipe Pairs
							//- <img src= snoothBaseUrl2 + wineKey + ip + '&id='+ pairingId + '&food=1' > 
						</a>
		#pageFive.section
			- for( let i = 16; i < 20; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div.recipe-link
						//- span Recipe Pairing ID: 
						//- span #{wineArray.wines[i].winery_id}
						<a href="/wine-recipes/">
							span Find Recipe Pairs
							//- <img src= snoothBaseUrl2 + wineKey + ip + '&id='+ pairingId + '&food=1' > 
						</a>
