extends layout

block styles
	link(rel="stylesheet" href='stylesheets/bootstrap.min.css')
	link(rel="stylesheet" type="text/css" href="stylesheets/beverages.css")

block scripts
	script(type='text/javascript' src='javascripts/scripts.js')

block content

	include slider

	-if (sessionInfo !== true)
		include logreg

	.toggle-button

	#site.container
		#pageOne.section.active
			.header.col-sm-12.text-center
				h1 Wine Recommendations
			- for( let i = 0; i < 4; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div
						span Recipe Pairing ID: 
						span #{wineArray.wines[i].winery_id}
		#pageTwo.section
			- for( let i = 4; i < 8; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div
						span Recipe Pairing ID: 
						span #{wineArray.wines[i].winery_id}
		#pageThree.section
			- for( let i = 8; i < 12; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div
						span Recipe Pairing ID: 
						span #{wineArray.wines[i].winery_id}
		#pageFour.section
			- for( let i = 12; i < 16; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div
						span Recipe Pairing ID: 
						span #{wineArray.wines[i].winery_id}
		#pageFive.section
			- for( let i = 16; i < 20; i++)
				div.wine-results.col-sm-5
					a(href= wineArray.wines[i].link)
						img.wine-pic(src= wineArray.wines[i].image)
					div.wine-name #{wineArray.wines[i].name}
					div
						span Vintage: 
						span #{wineArray.wines[i].vintage}
					div
						span Variety: 
						span #{wineArray.wines[i].varietal}
					div
						span Price: $
						span #{wineArray.wines[i].price}
					div
						span Rank: 
						span #{wineArray.wines[i].snoothrank} /5
					div
						span Recipe Pairing ID: 
						span #{wineArray.wines[i].winery_id}
