extends layout

block styles
	link(rel="stylesheet" href="/stylesheets/restaurant.css")

block scripts
	script(type='text/javascript' src='/javascripts/scripts.js')


block content

	include slider

	-if ((sessionInfo == undefined) || (sessionInfo.loggedin !== true))
		include logreg

	.toggle-button
	#site
		#map-container.section.active
			.slide
				p.pageTitle Your Search Results
				#map
		script(type='text/javascript').
			var nearbyResArray2 = !{JSON.stringify(nearbyResArray)}
			var nearbyResArray = nearbyResArray2
			console.log(nearbyResArray);
			var map;
			var centerPoint = {lat: Number(nearbyResArray[0].location.latitude), lng: Number(nearbyResArray[0].location.longitude)}
			function initMap(){
				map = new google.maps.Map(document.getElementById('map'), {
					center: centerPoint,
					zoom: 12
			});	
			dropMarker()
			};
			var markers = [];
			function dropMarker(){
				var infoWindow = new google.maps.InfoWindow(), marker, i;
				for(let i = 0; i < nearbyResArray.length; i++){
					var marker = new google.maps.Marker({
						position: {lat: Number(nearbyResArray[i].location.latitude), lng:Number(nearbyResArray[i].location.longitude)},
						animation: google.maps.Animation.DROP,
						map: map,
					 	title: nearbyResArray[i].name,
					 	cuisines: nearbyResArray[i].cuisines,
					 	address: nearbyResArray[i].location.address,
					 	rating: nearbyResArray[i].user_rating.aggregate_rating,
					 	cost: nearbyResArray[i].price_range,
					 	url: nearbyResArray[i].url
					 	
					});
					//- console.log(nearbyResArray[i].name)
					infoWindow.setContent(nearbyResArray[i].name);
					markers.push(marker);
					console.log(markers[i].position)
					//- console.log(typeof(Number(nearbyResArray[i].location.latitude)))
					//- console.log(Number(nearbyResArray[i].location.longitude))
					//- console.log(markers)
					for(let j = 0; j < markers.length; j++){
						markers[j].addListener('click', function() {
							infoWindow.open(map, markers[j]);
							infoWindow.setContent("<p>" + markers[j].address + "<br />" + 
							"cuisine: " + markers[j].cuisines + "<br />" + "rating(out of 5): " + markers[j].rating + "<br />" + "price range: " + markers[j].cost + "<br />" + markers[j].url + "</p>");
							});	
						}	
					}
				}
			
			
			$(document).ready(function(){	
				var x = document.getElementById("demo");
				//- var x = $('#demo')
				function getLocation() {
					if (navigator.geolocation){
						navigator.geolocation.getCurrentPosition(showPosition)
					}else {
						x.innerHTML = "Geolocation is not supported by this browser."
					}
					
				}	
				function showPosition(position){
					x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
				}	
				getLocation();	

				
				})
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMhTz95_uN41xRrxZK4wxovk9VOE0KAcI&callback=initMap" async defer)
		
		-for(let i = 0; i < nearbyResArray.length; i += 4)
			if(nearbyResArray[i] !== undefined)
				.section.returnedValues
					div(class='return' + (i+1))
						span.restTitle
							a(href=nearbyResArray[i].url) #{nearbyResArray[i].name}
						p= nearbyResArray[i].cuisines
						p= nearbyResArray[i].location.address
						p= nearbyResArray[i].location.locality_verbose
					if(nearbyResArray[i+1] !== undefined)		
						div(class='return' + (i+2))
							span.restTitle
								a(href=nearbyResArray[i+1].url) #{nearbyResArray[i+1].name}
							p= nearbyResArray[i+1].cuisines
							p= nearbyResArray[i+1].location.address
							p= nearbyResArray[i+1].location.locality_verbose							
					if(nearbyResArray[i+2] !== undefined)					
						div(class='return' + (i+3))
							span.restTitle #{nearbyResArray[i+2].name}
							p= nearbyResArray[i+2].cuisines
							p= nearbyResArray[i+2].location.address
							p= nearbyResArray[i+2].location.locality_verbose						
					if(nearbyResArray[i+3] !== undefined)					
						div(class='return' + (i+4))
							span.restTitle
								a(href=nearbyResArray[i+3].url) #{nearbyResArray[i+3].name}
							p= nearbyResArray[i+3].cuisines
							p= nearbyResArray[i+3].location.address
							p= nearbyResArray[i+3].location.locality_verbose																			
	 
	


