extends layout

block styles
	link(rel="stylesheet" href="/stylesheets/restaurant.css")

block scripts
	script(type='text/javascript' src='/javascripts/scripts.js')

block content

	include slider

	-if ((sessionInfo == undefined) || (sessionInfo.loggedin !== true))
		include logreg

	.toggle-button
	#site
		#map-container.section.active
			p.pageTitle Top Rated Restaurants
			#map
		script(type='text/javascript').
			var best_rated_restaurant2 = !{JSON.stringify(nextData.best_rated_restaurant)}
			var best_rated_restaurant = best_rated_restaurant2
			console.log(best_rated_restaurant)
			var map;
			var centerPoint = {lat: Number(best_rated_restaurant[0].restaurant.location.latitude), lng: Number(best_rated_restaurant[0].restaurant.location.longitude)}
			function initMap(){
				map = new google.maps.Map(document.getElementById('map'), {
					center: centerPoint,
					zoom: 12
			});	
			dropMarker()
			};
			var markers = [];
			function dropMarker(){
				var infoWindow = new google.maps.InfoWindow(), marker, i;
				for(let i = 0; i < best_rated_restaurant.length; i++){
					var marker = new google.maps.Marker({
						position: {lat: Number(best_rated_restaurant[i].restaurant.location.latitude), lng:Number(best_rated_restaurant[i].restaurant.location.longitude)},
						animation: google.maps.Animation.DROP,
						map: map,
					 	title: best_rated_restaurant[i].restaurant.name,
					 	cuisines: best_rated_restaurant[i].restaurant.cuisines,
					 	address: best_rated_restaurant[i].restaurant.location.address,
					 	rating: best_rated_restaurant[i].restaurant.user_rating.aggregate_rating,
					 	cost: best_rated_restaurant[i].restaurant.price_range,
					 	url: best_rated_restaurant[i].restaurant.url
					 	
					});
					//- console.log(best_rated_restaurant[i].name)
					infoWindow.setContent(best_rated_restaurant[i].restaurant.name);
					markers.push(marker);
					//- console.log(markers[i].position)
					//- console.log(typeof(Number(best_rated_restaurant[i].location.latitude)))
					//- console.log(Number(best_rated_restaurant[i].location.longitude))
					//- console.log(markers)
					for(let j = 0; j < markers.length; j++){
						markers[j].addListener('click', function() {
							infoWindow.open(map, markers[j]);
							infoWindow.setContent("<p>" + markers[j].address + "<br />" + 
							"cuisine: " + markers[j].cuisines + "<br />" + "rating(out of 5): " + markers[j].rating + "<br />" + "price range: " + markers[j].cost + "<br />" + markers[j].url + "</p>");
							});	
						}	
					}
				}
	
				var x = document.getElementById("demo");
				//- var x = $('#demo')
				function getLocation() {
					if (navigator.geolocation){
						navigator.geolocation.getCurrentPosition(showPosition)
					}else {
						x.innerHTML = "Geolocation is not supported by this browser."
					}
					
				}	
				function showPosition(position){
					x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
				}	
				getLocation();
				
				var pageHTML = '';
					for (let i = 0; i < best_rated_restaurant.length; i+=4){
							if(best_rated_restaurant[i] !== undefined){						
								pageHTML += `<div class='section returnedValues'>`;
								pageHTML += `<div class='return${i+1}'>
									<span class='restTitle'><a href='${best_rated_restaurant[i].restaurant.url}'>${best_rated_restaurant[i].restaurant.name}</a></span>
									<p>${best_rated_restaurant[i].restaurant.cuisines}</p>
									<p>${best_rated_restaurant[i].restaurant.location.address}</p>
									<p>${best_rated_restaurant[i].restaurant.location.locality_verbose}</p>
								</div>`
							}
							if(best_rated_restaurant[i+1] !== undefined){
								pageHTML += `<div class='return${i+2}'>
									<span class='restTitle'><a href='${best_rated_restaurant[i+1].restaurant.url}'>${best_rated_restaurant[i+1].restaurant.name}</a></span>
									<p>${best_rated_restaurant[i+1].restaurant.cuisines}</p>
									<p>${best_rated_restaurant[i+1].restaurant.location.address}</p>
									<p>${best_rated_restaurant[i+1].restaurant.location.locality_verbose}</p>
								</div>`
							}
							if(best_rated_restaurant[i+2] !== undefined){
								pageHTML += `<div class='return${i+3}'>
									<span class='restTitle'><a href='${best_rated_restaurant[i+2].restaurant.url}'>${best_rated_restaurant[i+2].restaurant.name}</a></span>
									<p>${best_rated_restaurant[i+2].restaurant.cuisines}</p>
									<p>${best_rated_restaurant[i+2].restaurant.location.address}</p>
									<p>${best_rated_restaurant[i+2].restaurant.location.locality_verbose}</p>
								</div>`
							}
							if(best_rated_restaurant[i+3] !== undefined){
								pageHTML += `<div class='return${i+4}'>
									<span class='restTitle'><a href='${best_rated_restaurant[i+3].restaurant.url}'>${best_rated_restaurant[i+3].restaurant.name}</a></span>
									<p>${best_rated_restaurant[i+3].restaurant.cuisines}</p>
									<p>${best_rated_restaurant[i+3].restaurant.location.address}</p>
									<p>${best_rated_restaurant[i+3].restaurant.location.locality_verbose}</p>
								</div>`
							}												
						pageHTML += `</div>`
					}
					$('#site').append(pageHTML)
					

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMhTz95_uN41xRrxZK4wxovk9VOE0KAcI&callback=initMap" async defer)


			
	 
	


