extends layout

block styles
	//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
	link(rel="stylesheet" href='stylesheets/bootstrap.min.css')
	link(rel="stylesheet" type="text/css" href="/stylesheets/beverages.css")

//- block scripts

block content

	div.container#site
		div.row.text-center
			div.header.text-danger.col-sm-12.text-center
				h1
					strong Best Recipes Paired With&nbsp;
						em #{wineName}
				br
			
			div.col-sm-12
				
				div.col-sm-3.recipe-results
					div
						strong #{recipeName}&nbsp;
						br
					div
						a(href=recipeLink)
							img(src=recipeImage)
						//- <a(href='<%= recipeLink %>''>
						//- 	<img src='<%= recipeImage %>'/>
						//- </a>
						//- </div>
					br
				
				
				div.col-sm-3.recipe-results
					div
						strong #{recipeName1}
						br
					div
						a(href=recipeLink1)
							img(src=recipeImage1)
					br


				div.col-sm-3.recipe-results
					div
						strong #{recipeName2}
						br
						div
							a(href=recipeLink2)
								img(src=recipeImage2)