extends layout

block styles
	//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
	link(rel="stylesheet" href='/stylesheets/bootstrap.min.css')
	link(rel="stylesheet" type="text/css" href="/stylesheets/beverages.css")

//- block scripts

block content
	include slider
	-if ((sessionInfo == undefined) || (sessionInfo.loggedin !== true))
		include logreg
	.toggle-button

	div.container#site
		div.row.text-center
			div.header.text-danger.col-sm-12.text-center
				h1.wine-cellar Best Recipes Paired With&nbsp;
						em #{wineName}
				br
			
			div.col-sm-12
				
				div.col-sm-3.recipe-results
					div.recipe-name
						strong #{recipeName}&nbsp;
						br
					div.recipe-image
						a(href=recipeLink)
							img(src=recipeImage)
						//- <a(href='<%= recipeLink %>''>
						//- 	<img src='<%= recipeImage %>'/>
						//- </a>
						//- </div>
					span Click for more
				
				
				div.col-sm-3.recipe-results
					div.recipe-name
						strong #{recipeName1}
						br
					div.recipe-image
						a(href=recipeLink1)
							img(src=recipeImage1)
					span Click for more


				div.col-sm-3.recipe-results
					div.recipe-name
						strong #{recipeName2}
						br
					div.recipe-image
						a(href=recipeLink2)
							img(src=recipeImage2)
					span Click for more



